{%- comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.

  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >

    <!-- // Old Variant Code -->
    {% comment %}
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {{ value -}}
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label> 
{% endcomment %}
  <!-- New Swatch Variant Code -->
    {% if option.name == 'Color' %}
      {% if product.variants[forloop.index0].image != blank %}
        <label
          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" id="colorsss"
          style="background-image: url({{ product.variants[forloop.index0].image | img_url: '' }});"
          class="swatch-image"
        ></label>
      {% else %}
        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
          {{ value -}}
          <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
        </label>
      {% endif %}
    {% elsif option.name == 'Size' %}
     
<div class="product-form__input product-form__input--dropdown">
        <label class="form__label-dropdown">Size</label>
        <div class="select">
          <select class="select__select" id="size" name="properties[Size]" form="{{ product_form_id }}" required>
            <option value="" hidden selected>unselected</option>
            <option value=" {{- value -}}"> {{- value -}}</option>
          
          </select>
          <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd" 
                  d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" 
                  fill="currentColor">
            </path>
          </svg>
        </div>
      </div>
           <script>
       document.addEventListener("DOMContentLoaded", ()=>{document.querySelector("form[novalidate]").removeAttribute("novalidate")})
    document.addEventListener("DOMContentLoaded", function() {
      var sizeSelect = document.getElementById('size');
       var colorSelect = document.getElementById('colorsss');
      var addToCartButton = document.querySelector('[type="submit"]'); 
   
      function updateButtonState() {
        if (sizeSelect.value === "") {
          addToCartButton.setAttribute('disabled', 'disabled');
        } else {
          addToCartButton.removeAttribute('disabled');
        }
      } 
      sizeSelect.addEventListener('change', updateButtonState);
      colorSelect.addEventListener('change', updateButtonState);
      updateButtonState();
    });
  </script>
      
    {% endif %}
  <!-- End New Swatch Variant Code -->
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
